<template name="chat">
    <div class="screen-container horizontal-flex">
        <div class="vertical-flex" id="left-panel">
            <div id="groups-panel">
                {{#each groups}}
                    {{> groupItem}}
                {{/each}}
            </div>
            <div id="temp-panel">temp panel</div>
        </div>
        <div class="vertical-flex" id="chat">
            <div id="display">display</div>
            <div id="input-panel">
                <input type="text" id="input-box"/>
            </div>
        </div>
        <div id="right-panel">social</div>
    </div>
</template>
