<template name="chat">
    <div class="horizontal-flex" id="chat">
        <div class="vertical-flex" id="left-panel">
            <div id="groups-panel">
                <div class="panel-heading">Groups:</div>
                <div class="panel-content">
                    {{#each groups}}
                        {{> groupItem}}
                    {{/each}}
                </div>
            </div>
            <div id="my-groups-panel">
                <div class="panel-heading">My Groups:</div>
                <div class="panel-content">
                </div>
            </div>
        </div>

        <div class="vertical-flex" id="middle-panel">
            <div class="context-heading">{{heading}}</div>
            <div id="display">
                {{>yield}}
            </div>
            <form id="input-panel">
                <input type="text" id="input-box"/>
            </form>
        </div>

        <div class="vertical-flex" id="right-panel">
            <div id="users-panel">
                <div class="panel-heading">Users:</div>
                <div class="panel-content">
                    {{#each users}}
                        {{> userItem}}
                    {{/each}}
                </div>
            </div>

            <div id="friends-panel">
                <div class="panel-heading">Friends:</div>
                <div class="panel-content">
                </div>
            </div>
        </div>
    </div>
</template>
