<template name="loginForm">
    <div class="center-child">
        <form id="login-form">
            <h1>Log in</h1>
            <br/>
            <input type="text" id="login-username" class="form-control" placeholder="Username"/>
            <input type="password" id="login-password" class="form-control" placeholder="Password"/>
            <br/>
            <button class="btn btn-success" type="submit">Log In</button>
            <br/>
            <button class="btn btn-primary" id="signup-button">Sign up</button>
        </form>
    </div>
</template>
