<template name="signupForm">
    <div class="center-child">
        <form id="signup-form">
            <h1>Sign Up</h1>
            <br/>
            <input type="text" id="signup-username" class="form-control" placeholder="Username"/>
            <input type="password" id="signup-password" class="form-control" placeholder="Password"/>
            <br/>
            <button class="btn btn-success" type="submit">Sign Up</button>
            <br/>
            <button class="btn btn-primary" id="back-button">Back</button>
        </form>
    </div>
</template>