/*Normalize*/
* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: ProFontWindows;
    src: url(/fonts/ProFontWindows.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Michroma;
    src: url(/fonts/Michroma.ttf);
}

/*universal*/
* {
    font-family: OpenSans, sans-serif;
    transition: all 200ms ease-out;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #333;
}

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-flex {
    display: flex;
    flex-flow: column;
    -webkit-flex-flow: column;
}

.horizontal-flex {
    display: flex;
    flex-flow: row;
    -webkit-flex-flow: row;
}

/*main*/
#main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background: url(/images/blur_bg.jpg);
}

/*modal*/
.modal-dialogue {
    position: absolute;
    background-color: green;
    top: 50%;
    left: 50%;
    margin-left: -300px;
}

/*header*/
nav {
    flex: 0 0 70px;
    background-color: rgba(30, 115, 162, 0.1);
    position: relative;
}

a#logo {
    position: absolute;
    left: 50%;
    margin-top: 8px;
    margin-left: -93px;
    width: 187px;
    height: 42px;

    font-family: Michroma;
    font-size: 30px;
    font-weight: 900;
    color: white;
}

#logo-span {
    color: #F2E394;
}

a#logo:hover {
    text-decoration: none;
}

#logout-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    position: fixed;
    top: 19px;
    right: 40px;
}

#logout-btn:hover {
    background-color: rgb(195, 55, 55);
}

/*welcome-page*/
#welcome-bg {
    background: url(http://i.imgur.com/jUFg7jn.jpg) no-repeat center center fixed;
    background-color: #1E5394;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#login-form, #signup-form {
    margin-top: 200px;
    min-width: 300px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#login-form h1, #signup-form h1 {
    margin: 20px 0;
}

#login-form #login-username, #login-form button[type="submit"],
#signup-form #signup-username, #signup-form button[type="submit"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

#login-form #login-password, #login-form #signup-button,
#signup-form #signup-password, #signup-form #back-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-form button[type="submit"], #login-form #signup-button,
#signup-form button[type="submit"], #signup-form #back-button {
    width: 100%;
}

/*chat*/
#chat {
    flex: auto;
}

#left-panel, #right-panel {
    flex: 0 0 19%;
    background-color: rgba(214, 226, 234, 0.1);
    padding: 20px;
    font-size: 20px;
}

#middle-panel {
    flex: 0 1 62%;
    background-color: rgba(224, 238, 237, 0.2);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}

#middle-panel .context-heading {
    flex: 0 0 70px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: transparent;
    color: #F2E394;
}

.panel-heading {
    background-color: rgba(211, 228, 228, 0.3);
    padding: 10px 10px 8px 10px;
    color: white;
}

.panel-content {
    font-size: 16px;
}

#middle-panel #display {
    flex: 1 1 auto;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#input-panel {
    flex: 0 0 80px;
    padding: 20px;
}

#middle-panel #input-label {
    width: 65px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 4px;
    height: 40px;

    font-size: 40px;
    color: rgba(255, 255, 255, 0.5)
}

#middle-panel #input-box {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 20px;
    flex: 1 1 auto;
}

/*left&right panel layout*/
#left-panel #groups-panel, #left-panel #my-groups-panel,
#right-panel #users-panel, #right-panel #friends-panel {
    flex: 1 1 9001px;
    margin: 20px;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    overflow-y: auto;
    overflow-x: hidden;
}

.group-item, .user-item {
    padding: 5px 10px;

}

.group-item a, .user-item a {
    color: rgb(158, 169, 184);
}

.group-item:hover, .user-item:hover,
.group-item:hover a, .user-item:hover a {
    background-color: #358d97;
    color: #edf8f5;
    text-decoration: none;
}

.group-item:first-child, .user-item:first-child {
    padding-top: 10px;
}

/*message-item*/
.message-avatar, .message-body {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.message-avatar {
    min-width: 65px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
}

.message-body {
    margin: 0 0 20px 0;
    padding: 20px;
    width: 100%;
}

.message-info {
    margin-bottom: 10px;
}

.message-options,
.message-options-disabled {
    position: relative;
    float: right;
}

.message-options i {
    font-size: 18px;
    margin-left: 7px;
    color: #F2E394;
}

.message-options .fa-cogs,
.message-options-disabled .fa-cogs {
    position: absolute;
    top: 0;
    right: 0;

    color: #F2E394;;
}

.message-options-disabled .fa-cogs {
    font-size: 18px;
    color: #b3c1c6;
}

.message-options .fa-trash-o:hover,
.message-options .fa-pencil:hover {
    color: white;
}

.message-options .message-options-clickable {
    transition: all 200ms ease-out;
    display: inline-block;
    overflow: hidden;
    max-height: 18px;

    /*slide effect*/
    margin-right: -40px;
    opacity: 0;
}

.message-author {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.message-timestamp {
    color: #f2e395;
    margin-left: 10px;
}

.message-content {
    line-height: 170%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    color: rgb(240, 240, 240);
}

.message-content-edit {
    position: relative;
    overflow: hidden;
    opacity: 1;
    height: 0;
}

.message-content-edit textarea {
    width: 100%;
    border-radius: 4px;

    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 10px;
}

.message-content-edit .edit-tip {
    position: absolute;
    bottom: 10px;
}

.message-content-edit .confirm-edit,
.message-content-edit .cancel-edit {
    float: right;
    margin: 5px 0 0 10px;
    border: none;
}

.message-content-edit .cancel-edit {
    background-color: rgba(255, 255, 255, 0.2);
}

.message-content-edit .cancel-edit:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.message-content-edit .confirm-edit {
    background-color: rgba(242, 227, 148, 0.8);
}

.message-content-edit .confirm-edit:hover {
    background-color: rgba(242, 227, 148, 1);
}

/*notifications*/
.user-item .fa-bell {
    color: white;
}

.user-item .fa-bell.dark {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

/*::-webkit-scrollbar-track {*/
/*background-color: rgba(50, 50, 50, 0.1);*/
/*-webkit-border-radius: 8px;*/
/*border-radius: 8px;*/
/*}*/

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 0.2);
}

::-webkit-scrollbar-track:window-inactive {
    background: transparent;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}