/*Normalize*/
* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*welcome-page*/
#welcome-bg {
    background: url(http://i.imgur.com/jUFg7jn.jpg) no-repeat center center fixed;
    background-color: #464646;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
}